<li><a href="/departments/releases">Releases</a></li>
<li><a href="/departments/shows">Shows</a></li>
<li><a href="/departments/toast-haiku">Toast Haiku</a></li>
<li><a href="/departments/toast-recipes">Toast Recipes</a></li>
<li><a href="/departments/toast-links">Toast Links</a></li>
<li><a href="/departments/toast-news">Toast News</a></li>
<li><a href="/departments/toast-articles">Toast Articles</a></li>
<li><a href="/departments/toasters">Toasters</a></li>
<li><a href="/departments/ask-dr-toast">Ask Dr. Toast</a></li>
