<div class="facebook">
  <a href="http://www.facebook.com/drtoastmusic" title="Dr. Toast" target="_TOP">
    <img src="http://badge.facebook.com/badge/10662747580.1387.320699057.png" alt="Dr. Toast" style="border: 0px;" />
  </a>
  <br>
  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fdrtoastmusic&amp;layout=standard&amp;show_faces=true&amp;width=180&amp;action=like&amp;colorscheme=light&amp;height=120" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:120px;" allowTransparency="true"></iframe>
</div>

