# redirect specific weird dreams to toasthaiku.net
Redirect 301 /crumbs/104 http://toasthaiku.net/2005/11/23/the-cats-snowflakes/
Redirect 301 /crumbs/103 http://toasthaiku.net/2005/05/28/red-birds/
Redirect 301 /crumbs/87 http://toasthaiku.net/1996/01/22/meat-loaf-recipes-of-the-old-west/
Redirect 301 /crumbs/80 http://toasthaiku.net/1997/01/24/michael-douglas-and-tofu/
Redirect 301 /crumbs/79 http://toasthaiku.net/1997/02/22/abalone-fisherwoman/
Redirect 301 /crumbs/76 http://toasthaiku.net/1997/05/22/bananas-and-spielberg/
Redirect 301 /crumbs/75 http://toasthaiku.net/1998/10/23/soup-in-the-south/
Redirect 301 /crumbs/73 http://toasthaiku.net/2000/10/18/lucid-dreaming/

# redirect deleted weird dreams
Redirect 301 /departments/weird-dreams http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/86 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/85 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/84 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/83 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/82 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/81 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/78 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/77 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/74 http://toasthaiku.net/category/weird-dreams/
Redirect 301 /crumbs/72 http://toasthaiku.net/category/weird-dreams/

# redirect old pages
Redirect 301 /adt_04_addiction.html http://www.drtoast.com/1996/04/18/toast-addiction
Redirect 301 /adt_01_oneslice.html http://www.drtoast.com/1996/04/02/one-slice-only
Redirect 301 /adt_02_evil.html http://www.drtoast.com/1996/04/03/alarming-syndrome
Redirect 301 /adt_03_origins.html http://www.drtoast.com/1996/04/03/how-did-you-come-to-learn-so-much-about-toast
Redirect 301 /adt_04_addiction.html http://www.drtoast.com/1996/04/18/toast-addiction
Redirect 301 /adt_05_shrine.html http://www.drtoast.com/1996/05/19/the-perpetual-glow-of-toast
Redirect 301 /adt_06_einstein.html http://www.drtoast.com/1996/06/15/31
Redirect 301 /adt_07_toobig.html http://www.drtoast.com/1996/10/17/virgin-toast
Redirect 301 /adt_08_burnt.html http://www.drtoast.com/1996/10/17/burnt-toast
Redirect 301 /adt_10_bolivia.html http://www.drtoast.com/1996/11/29/bolivian-toast
Redirect 301 /adt_11_condiment.html http://www.drtoast.com/1997/01/24/condiments
Redirect 301 /adt_12_pay.html http://www.drtoast.com/1997/02/09/certified-doctor-of-toast
Redirect 301 /adt_13_alive.html http://www.drtoast.com/1997/03/23/i-accidentally-brought-my-toaster-to-life
Redirect 301 /adt_14_genetic.html http://www.drtoast.com/1997/04/11/calories-and-carbohydrates
Redirect 301 /adt_15_perfect.html http://www.drtoast.com/1997/04/22/the-proper-way-to-insert-toast
Redirect 301 /adt_16_eject.html http://www.drtoast.com/1997/08/12/my-toast-always-jams
Redirect 301 /adt_17_notoast.html http://www.drtoast.com/1998/09/19/funny-noise
Redirect 301 /adt_19_raisins.html http://www.drtoast.com/1998/11/17/raisin-fires
Redirect 301 /adt_20_ihatetoast.html http://www.drtoast.com/2001/04/17/i-hate-toast
Redirect 301 /badtoastlinks.html http://www.drtoast.com/departments/toast-links/
Redirect 301 /burdick.html http://www.drtoast.com/2005/08/10/what-ive-learned-from-toast
Redirect 301 /carroll.html http://www.drtoast.com/2005/08/10/on-todays-menu-a-hymn-to-toast
Redirect 301 /condor1.html http://www.drtoast.com/2005/08/10/toast-share-the-online-experience
Redirect 301 /condor2.html http://www.drtoast.com/2005/08/10/toast-points
Redirect 301 /history.html http://www.drtoast.com/2005/08/10/history-of-the-toaster
Redirect 301 /insipid.html http://www.drtoast.com/2005/08/10/theories-on-toast
Redirect 301 /music.html http://music.drtoast.com
Redirect 301 /philosophy.html http://www.drtoast.com/departments/ask-dr-toast/
Redirect 301 /readerhaiku.html http://www.drtoast.com/departments/toast-haiku/
Redirect 301 /realhistory.html http://www.drtoast.com/2005/08/10/dr-toasts-history-of-the-toaster
Redirect 301 /recipe_001_classic.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_002_surreal.html http://www.drtoast.com/2005/08/10/surrealistic-toast
Redirect 301 /recipe_003_spicycheese.html http://www.drtoast.com/2005/08/10/spicy-cheese-toast
Redirect 301 /recipe_004_cardamom.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_005_cheeseonion.html http://www.drtoast.com/2005/08/10/grilled-cheese-and-onion-toast
Redirect 301 /recipe_006_paulcheese.html http://www.drtoast.com/2005/08/10/paul-and-jacuelines-cheese-on-toast
Redirect 301 /recipe_007_staves.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_008_banana.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_009_cinnamon.html http://www.drtoast.com/2005/08/10/baked-cinnamon-toast
Redirect 301 /recipe_010_rabanadas.html http://www.drtoast.com/2005/08/10/rabanadas-portuguese-fried-toast
Redirect 301 /recipe_011_weightwatchers.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_012_garlic.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_013_tonga.html http://www.drtoast.com/2005/08/10/tonga-toast
Redirect 301 /recipe_014_creamedeggs.html http://www.drtoast.com/2005/08/10/creamed-eggs-on-toast
Redirect 301 /recipe_015_bruschetta.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_016_asparagus.html http://www.drtoast.com/2005/08/10/asparagus-toast
Redirect 301 /recipe_017_cucumber.html http://www.drtoast.com/2005/08/10/cucumber-toast
Redirect 301 /recipe_018_paneer.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_019_beans.html http://www.drtoast.com/2005/08/10/beans-on-toast
Redirect 301 /recipe_020_frenzy.html http://www.drtoast.com/2005/08/10/toast-frenzy
Redirect 301 /recipe_022_dietcheese.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_023_bachelor.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /recipe_024_garlictomato.html http://www.drtoast.com/2005/08/10/garlic-toast-with-tomatoes
Redirect 301 /recipe_025_toastsandwich.html http://www.drtoast.com/2005/08/10/toast-sandwich
Redirect 301 /recipe_026_toastspread.html http://www.drtoast.com/2005/08/10/toast-spread
Redirect 301 /recipe_027_toastespresso.html http://www.drtoast.com/2005/08/10/toast-espresso
Redirect 301 /recipe_028_toastburger.html http://www.drtoast.com/2005/08/10/toast-burger
Redirect 301 /recipes.html http://www.drtoast.com/departments/toast-recipes/
Redirect 301 /toasthaiku.html http://www.drtoast.com/departments/toast-haiku/
Redirect 301 /toastlinks.html http://www.drtoast.com/departments/toast-links/
Redirect 301 /toastrace.html http://www.drtoast.com/2005/08/10/toast-race
Redirect 301 /weirddreams.html http://www.drtoast.com/departments/weird-dreams/
Redirect 301 /music http://music.drtoast.com
Redirect 301 /departments/music/releases http://www.drtoast.com/departments/releases
Redirect 301 /departments/music/shows http://www.drtoast.com/departments/shows

Redirect 301 /crumbs/6 http://www.drtoast.com/2005/08/10/a-slice-of-calmness
Redirect 301 /crumbs/7 http://www.drtoast.com/2005/08/10/consume-nirvana
Redirect 301 /crumbs/8 http://www.drtoast.com/2005/08/10/dr-toasts-history-of-the-toaster
Redirect 301 /crumbs/9 http://www.drtoast.com/1996/04/03/alarming-syndrome
Redirect 301 /crumbs/10 http://www.drtoast.com/2005/08/10/classic-toast
Redirect 301 /crumbs/11 http://www.drtoast.com/1996/04/03/how-did-you-come-to-learn-so-much-about-toast
Redirect 301 /crumbs/12 http://www.drtoast.com/2005/08/10/spirit-channeling
Redirect 301 /crumbs/13 http://www.drtoast.com/2005/08/10/ritualistic
Redirect 301 /crumbs/14 http://www.drtoast.com/2005/08/10/angry-toastless-man
Redirect 301 /crumbs/15 http://www.drtoast.com/2005/08/10/i-thank-my-toaster
Redirect 301 /crumbs/16 http://www.drtoast.com/2005/08/10/a-bread-transfigured
Redirect 301 /crumbs/17 http://www.drtoast.com/2005/08/10/valuable-toast
Redirect 301 /crumbs/18 http://www.drtoast.com/2005/08/10/intensely-focused
Redirect 301 /crumbs/19 http://www.drtoast.com/2005/08/10/proudly-i-preside
Redirect 301 /crumbs/20 http://www.drtoast.com/2005/08/10/summer-in-new-york
Redirect 301 /crumbs/21 http://www.drtoast.com/2005/08/10/thirty-six-croutons
Redirect 301 /crumbs/22 http://www.drtoast.com/2005/08/10/superconducting-breakfast
Redirect 301 /crumbs/23 http://www.drtoast.com/2005/08/10/the-warm-chosen-slice
Redirect 301 /crumbs/24 http://www.drtoast.com/2005/08/10/the-ghost-of-a-toast
Redirect 301 /crumbs/25 http://www.drtoast.com/2005/08/10/a-silver-lining
Redirect 301 /crumbs/26 http://www.drtoast.com/2005/08/10/noble-is-my-toast
Redirect 301 /crumbs/27 http://www.drtoast.com/2005/08/10/constellation
Redirect 301 /crumbs/28 http://www.drtoast.com/2005/08/10/united-at-last
Redirect 301 /crumbs/29 http://www.drtoast.com/1996/04/18/toast-addiction
Redirect 301 /crumbs/30 http://www.drtoast.com/1996/05/19/the-perpetual-glow-of-toast
Redirect 301 /crumbs/31 http://www.drtoast.com/1996/06/15/31
Redirect 301 /crumbs/32 http://www.drtoast.com/1996/10/17/virgin-toast
Redirect 301 /crumbs/33 http://www.drtoast.com/1996/10/17/burnt-toast
Redirect 301 /crumbs/34 http://www.drtoast.com/1996/11/29/bolivian-toast
Redirect 301 /crumbs/35 http://www.drtoast.com/1997/01/24/condiments
Redirect 301 /crumbs/36 http://www.drtoast.com/1997/02/09/certified-doctor-of-toast
Redirect 301 /crumbs/37 http://www.drtoast.com/1997/03/23/i-accidentally-brought-my-toaster-to-life
Redirect 301 /crumbs/38 http://www.drtoast.com/1997/04/11/calories-and-carbohydrates
Redirect 301 /crumbs/39 http://www.drtoast.com/1997/04/22/the-proper-way-to-insert-toast
Redirect 301 /crumbs/40 http://www.drtoast.com/1997/08/12/my-toast-always-jams
Redirect 301 /crumbs/41 http://www.drtoast.com/1998/09/19/funny-noise
Redirect 301 /crumbs/42 http://www.drtoast.com/1998/11/17/raisin-fires
Redirect 301 /crumbs/43 http://www.drtoast.com/2001/04/17/i-hate-toast
Redirect 301 /crumbs/44 http://www.drtoast.com/2005/08/10/baked-cinnamon-toast
Redirect 301 /crumbs/45 http://www.drtoast.com/2005/08/10/spicy-cheese-toast
Redirect 301 /crumbs/46 http://www.drtoast.com/2005/08/10/grilled-cheese-and-onion-toast
Redirect 301 /crumbs/47 http://www.drtoast.com/2005/08/10/paul-and-jacuelines-cheese-on-toast
Redirect 301 /crumbs/49 http://www.drtoast.com/2005/08/10/rabanadas-portuguese-fried-toast
Redirect 301 /crumbs/50 http://www.drtoast.com/2005/08/10/tonga-toast
Redirect 301 /crumbs/51 http://www.drtoast.com/2005/08/10/cucumber-toast
Redirect 301 /crumbs/52 http://www.drtoast.com/2005/08/10/asparagus-toast
Redirect 301 /crumbs/53 http://www.drtoast.com/2005/08/10/garlic-toast-with-tomatoes
Redirect 301 /crumbs/54 http://www.drtoast.com/2005/08/10/beans-on-toast
Redirect 301 /crumbs/55 http://www.drtoast.com/2005/08/10/creamed-eggs-on-toast
Redirect 301 /crumbs/56 http://www.drtoast.com/2005/08/10/surrealistic-toast
Redirect 301 /crumbs/57 http://www.drtoast.com/2005/08/10/toast-sandwich
Redirect 301 /crumbs/58 http://www.drtoast.com/2005/08/10/toast-frenzy
Redirect 301 /crumbs/59 http://www.drtoast.com/2005/08/10/toast-spread
Redirect 301 /crumbs/60 http://www.drtoast.com/2005/08/10/toast-espresso
Redirect 301 /crumbs/61 http://www.drtoast.com/2005/08/10/toast-burger
Redirect 301 /crumbs/62 http://www.drtoast.com/2005/08/10/the-shrine-to-toast
Redirect 301 /crumbs/63 http://www.drtoast.com/2005/08/10/the-toast-bible
Redirect 301 /crumbs/64 http://www.drtoast.com/2005/08/10/strawberry-pop-tart-blowtorches
Redirect 301 /crumbs/65 http://www.drtoast.com/2005/08/10/cats-and-buttered-toast
Redirect 301 /crumbs/66 http://www.drtoast.com/2005/08/10/what-ive-learned-from-toast
Redirect 301 /crumbs/67 http://www.drtoast.com/2005/08/10/toast-points
Redirect 301 /crumbs/68 http://www.drtoast.com/2005/08/10/toast-share-the-online-experience
Redirect 301 /crumbs/69 http://www.drtoast.com/2005/08/10/toast-race
Redirect 301 /crumbs/70 http://www.drtoast.com/2005/08/10/theories-on-toast
Redirect 301 /crumbs/71 http://www.drtoast.com/2005/08/10/history-of-the-toaster
Redirect 301 /crumbs/88 http://www.drtoast.com/2005/08/10/the-toaster-museum-foundation
Redirect 301 /crumbs/89 http://www.drtoast.com/2005/08/10/central-services-toaster-museum
Redirect 301 /crumbs/90 http://www.drtoast.com/2005/08/10/the-toaster-a-mural-made-of-toast
Redirect 301 /crumbs/91 http://www.drtoast.com/2005/08/10/on-todays-menu-a-hymn-to-toast
Redirect 301 /crumbs/93 http://www.drtoast.com/2005/08/11/mushrooms-over-toast
Redirect 301 /crumbs/94 http://www.drtoast.com/2005/08/11/toaster-pc-runs-bsd-and-makes-toast
Redirect 301 /crumbs/97 http://www.drtoast.com/2005/08/17/9-for-stupidity
Redirect 301 /crumbs/98 http://www.drtoast.com/2005/08/17/the-eastern-wind
Redirect 301 /crumbs/99 http://www.drtoast.com/2005/08/17/hyderabadi-toast
Redirect 301 /crumbs/100 http://www.drtoast.com/2005/08/22/yeah-toast
Redirect 301 /crumbs/101 http://www.drtoast.com/2005/10/09/a-toaster-that-never-burns-the-bread
Redirect 301 /crumbs/102 http://www.drtoast.com/2005/11/03/the-toast-shop
Redirect 301 /crumbs/105 http://www.drtoast.com/2005/12/06/jonahs-beans-and-toast
Redirect 301 /crumbs/106 http://www.drtoast.com/2005/12/06/winter-breakfast-sandwich-with-maple-syrup-toasted-walnuts-and-cream-cheese
Redirect 301 /crumbs/107 http://www.drtoast.com/2005/12/06/white-house-apple-toast
Redirect 301 /crumbs/108 http://www.drtoast.com/2005/12/06/grain-foods-foundation-celebrates-national-bread-month
Redirect 301 /crumbs/109 http://www.drtoast.com/2006/01/12/things-ive-pushed-through-toast
Redirect 301 /crumbs/111 http://www.drtoast.com/2006/04/20/dr-toast-live-at-slims-in-san-francisco
Redirect 301 /crumbs/112 http://www.drtoast.com/2006/08/07/toaster-radio
Redirect 301 /crumbs/113 http://www.drtoast.com/2004/08/08/dr-toast-oz-so-late-2004
Redirect 301 /crumbs/114 http://www.drtoast.com/1996/08/07/dr-toast-crunchy-1996
Redirect 301 /crumbs/115 http://www.drtoast.com/2001/08/07/dr-toast-interdimensional-laundry-2001
Redirect 301 /crumbs/116 http://www.drtoast.com/2005/09/01/live-at-burning-man
Redirect 301 /crumbs/117 http://www.drtoast.com/2005/11/04/live-at-fake-science-launch-party
Redirect 301 /crumbs/118 http://www.drtoast.com/2005/11/12/live-at-panda-moan-eum
Redirect 301 /crumbs/119 http://www.drtoast.com/2005/11/18/live-at-mighty-breaks
Redirect 301 /crumbs/120 http://www.drtoast.com/2005/11/26/live-at-wonderland-nyc
Redirect 301 /crumbs/121 http://www.drtoast.com/2005/12/02/live-at-downlow
Redirect 301 /crumbs/122 http://www.drtoast.com/2006/07/21/dr-toast-live-at-priceless-campout
Redirect 301 /crumbs/123 http://www.drtoast.com/2006/08/07/dr-toast-live-at-equity
Redirect 301 /crumbs/127 http://www.drtoast.com/2006/09/25/toast-art
Redirect 301 /crumbs/130 http://www.drtoast.com/2006/09/29/toaster-guitar-amps
Redirect 301 /crumbs/131 http://www.drtoast.com/2006/10/10/toast-printer
Redirect 301 /crumbs/146 http://www.drtoast.com/2006/11/15/toast-leaners-club
Redirect 301 /crumbs/153 http://www.drtoast.com/2006/11/29/roller-toaster
Redirect 301 /crumbs/155 http://www.drtoast.com/2007/01/08/charles-kaufmans-toaster-paintings
Redirect 301 /crumbs/157 http://www.drtoast.com/2007/03/19/dr-toast-live-at-nasa-ames
Redirect 301 /crumbs/159 http://www.drtoast.com/2007/03/19/dr-toast-live-at-experiment-3-fat-city
Redirect 301 /crumbs/161 http://www.drtoast.com/2007/03/19/dr-toast-live-at-howweird-street-faire
Redirect 301 /crumbs/163 http://www.drtoast.com/2007/03/19/arrrr-pirate-toaster
Redirect 301 /crumbs/165 http://www.drtoast.com/2007/03/26/your-name-on-toast
Redirect 301 /crumbs/166 http://www.drtoast.com/2007/05/24/dr-toast-live-dividend
Redirect 301 /crumbs/168 http://www.drtoast.com/2007/07/18/dr-toast-live-priceless
Redirect 301 /crumbs/170 http://www.drtoast.com/2007/07/18/dr-toast-live-field-day-2
Redirect 301 /crumbs/172 http://www.drtoast.com/2007/07/18/dr-toast-live-summer-of-dub
Redirect 301 /crumbs/174 http://www.drtoast.com/2007/07/18/iphones-built-in-toaster-is-defective
Redirect 301 /crumbs/175 http://www.drtoast.com/2007/07/24/the-best-cinnamon-toast
Redirect 301 /crumbs/179 http://www.drtoast.com/2007/08/08/dr-toast-live-on-the-transported-bus
Redirect 301 /crumbs/182 http://www.drtoast.com/2007/08/17/dr-toast-live-burning-man
Redirect 301 /crumbs/184 http://www.drtoast.com/2007/08/17/a-cookbook-honor
Redirect 301 /crumbs/185 http://www.drtoast.com/2007/08/17/house-of-toast
Redirect 301 /crumbs/187 http://www.drtoast.com/2007/08/21/dr-toast-live-burning-man-the-polarium
Redirect 301 /crumbs/190 http://www.drtoast.com/2007/08/21/dr-toast-live-avant
Redirect 301 /crumbs/191 http://www.drtoast.com/2007/10/16/dr-toast-live-wom
Redirect 301 /crumbs/193 http://www.drtoast.com/2007/10/16/dr-toast-live-the-sloe-down-shine-sf
Redirect 301 /crumbs/194 http://www.drtoast.com/2007/11/06/mr-toast
Redirect 301 /crumbs/197 http://www.drtoast.com/2007/12/05/wintertime
Redirect 301 /crumbs/198 http://www.drtoast.com/2007/12/14/dr-toast-live-new-years-2008
Redirect 301 /crumbs/200 http://www.drtoast.com/2007/12/17/toast-animation
Redirect 301 /crumbs/203 http://www.drtoast.com/2007/12/19/love-toast
Redirect 301 /crumbs/205 http://www.drtoast.com/2007/12/19/toast-in-50-seconds
Redirect 301 /crumbs/209 http://www.drtoast.com/2008/01/17/glass-toaster
Redirect 301 /crumbs/211 http://www.drtoast.com/2008/01/18/dr-toast-live-delicious-drips
Redirect 301 /crumbs/214 http://www.drtoast.com/2008/01/29/toast-it-notes
Redirect 301 /crumbs/216 http://www.drtoast.com/2008/01/31/tic-tac-toast
Redirect 301 /crumbs/219 http://www.drtoast.com/2008/02/01/the-future-of-toasting
Redirect 301 /crumbs/221 http://www.drtoast.com/2008/02/20/dr-toast-live-dirty
Redirect 301 /crumbs/223 http://www.drtoast.com/2008/02/20/dr-toast-live-kelly-kemp-co-fundraiser
Redirect 301 /crumbs/224 http://www.drtoast.com/2008/02/20/image-of-big-bang-seen-in-piece-of-toast
Redirect 301 /crumbs/227 http://www.drtoast.com/2008/02/25/dr-toast-live-toast-tea
Redirect 301 /crumbs/229 http://www.drtoast.com/2008/03/07/the-wave-function-cd-release-party
Redirect 301 /crumbs/231 http://www.drtoast.com/2008/03/13/dr-toast-live-at-nasa-yuris-night-2008
Redirect 301 /crumbs/233 http://www.drtoast.com/2008/03/18/inflatable-toast
Redirect 301 /crumbs/235 http://www.drtoast.com/2008/03/25/dr-toast-the-entanglement-ep-2008
Redirect 301 /crumbs/236 http://www.drtoast.com/2008/03/27/dr-toast-the-wave-function-2008
Redirect 301 /crumbs/239 http://www.drtoast.com/2008/04/03/dr-toast-live-beat-church
Redirect 301 /crumbs/240 http://www.drtoast.com/2008/04/17/for-the-german-students
Redirect 301 /crumbs/241 http://www.drtoast.com/2008/04/22/dr-toast-live-transporteds-1-year-anniversary-dj-bus
Redirect 301 /crumbs/243 http://www.drtoast.com/2008/05/08/toast-wallet
Redirect 301 /crumbs/245 http://www.drtoast.com/2008/05/31/dr-toast-live-spring-training
Redirect 301 /crumbs/247 http://www.drtoast.com/2008/05/31/dr-toast-live-raindance
Redirect 301 /crumbs/249 http://www.drtoast.com/2008/05/31/the-toaster-that-toasted-the-golden-toast
Redirect 301 /crumbs/251 http://www.drtoast.com/2008/05/31/326-ways-to-enjoy-toast
Redirect 301 /crumbs/253 http://www.drtoast.com/2008/06/27/texas-shaped-toast-on-ebay
Redirect 301 /crumbs/255 http://www.drtoast.com/2008/07/02/dr-toast-live-priceless-2008
Redirect 301 /crumbs/257 http://www.drtoast.com/2008/07/02/dr-toast-live-friends-and-family-2008
Redirect 301 /crumbs/259 http://www.drtoast.com/2008/07/12/battlestar-galactica-toaster
Redirect 301 /crumbs/261 http://www.drtoast.com/2008/07/12/worlds-highest-popping-toaster
Redirect 301 /crumbs/263 http://www.drtoast.com/2008/07/03/dr-toast-live-evac
Redirect 301 /crumbs/264 http://www.drtoast.com/2008/07/17/from-the-chairman-of-butter
Redirect 301 /crumbs/267 http://www.drtoast.com/2008/08/12/dr-toast-live-concoction
Redirect 301 /crumbs/269 http://www.drtoast.com/2008/08/19/dr-toast-live-burning-man-mutopia
Redirect 301 /crumbs/271 http://www.drtoast.com/2008/08/19/dr-toast-live-burning-man-relax-o-matic-plushitorium
Redirect 301 /crumbs/273 http://www.drtoast.com/2008/08/19/dr-toast-live-burning-man-false-profit-2008
Redirect 301 /crumbs/275 http://www.drtoast.com/2008/09/20/scan-toaster
Redirect 301 /crumbs/277 http://www.drtoast.com/2008/09/20/nintoaster
Redirect 301 /crumbs/279 http://www.drtoast.com/2008/09/30/dr-toast-live-lepidodgera-fundraiser
Redirect 301 /crumbs/281 http://www.drtoast.com/2008/10/09/cute-bulldog-toast
Redirect 301 /crumbs/284 http://www.drtoast.com/2008/10/13/toast-is-better-without-garfield
Redirect 301 /crumbs/286 http://www.drtoast.com/2008/10/30/dr-toast-live-fwr
Redirect 301 /crumbs/288 http://www.drtoast.com/2008/10/30/dr-toast-live-cubik-and-origami-record-release-party
Redirect 301 /crumbs/290 http://www.drtoast.com/2008/10/30/dr-toast-live-end-of-an-error
Redirect 301 /crumbs/292 http://www.drtoast.com/2008/12/21/dr-toast-live-on-the-transported-bus-2
Redirect 301 /crumbs/294 http://www.drtoast.com/2008/12/21/social-networking-for-your-toaster
Redirect 301 /crumbs/296 http://www.drtoast.com/2009/02/06/the-brunch
Redirect 301 /crumbs/298 http://www.drtoast.com/2009/04/02/dr-toast-live-transported
Redirect 301 /crumbs/300 http://www.drtoast.com/2009/04/09/dr-toast-live-california-academy-of-sciences
Redirect 301 /crumbs/303 http://www.drtoast.com/2009/07/02/dr-toast-live-priceless-2009
Redirect 301 /crumbs/306 http://www.drtoast.com/2009/07/07/making-a-toaster-from-scratch
Redirect 301 /crumbs/309 http://www.drtoast.com/2009/07/07/video-toaster
Redirect 301 /crumbs/311 http://www.drtoast.com/2009/07/08/dr-toast-live-sand-by-the-ton
Redirect 301 /crumbs/314 http://www.drtoast.com/2009/07/26/dr-toast-live-symbiosis
Redirect 301 /crumbs/316 http://www.drtoast.com/2009/07/26/the-seventh-apocalyptic-church-of-the-toaster
Redirect 301 /crumbs/326 http://www.drtoast.com/2009/08/26/dr-toast-live-burning-man-2009
Redirect 301 /crumbs/331 http://www.drtoast.com/2009/11/17/dr-toast-live-at-artumnal-gathering
Redirect 301 /crumbs/334 http://www.drtoast.com/2009/12/06/dr-toast-live-transported-2
Redirect 301 /crumbs/336 http://www.drtoast.com/2009/12/15/cardboard-toast
Redirect 301 /crumbs/338 http://www.drtoast.com/2009/12/15/bread-art-project
Redirect 301 /crumbs/339 http://www.drtoast.com/2010/01/03/easy-peasy-spicy-beansy-toast
Redirect 301 /crumbs/341 http://www.drtoast.com/2010/01/14/toast-messenger
Redirect 301 /crumbs/343 http://www.drtoast.com/2010/02/09/dr-toast-live-living-room-sessions
Redirect 301 /crumbs/346 http://www.drtoast.com/2010/03/30/dr-toast-live-puttin-on-the-ritz
Redirect 301 /crumbs/348 http://www.drtoast.com/2010/04/27/dr-toast-live-ecstatic-dance
Redirect 301 /crumbs/349 http://www.drtoast.com/2010/05/04/dr-toast-live-on-the-transported-bus-3
Redirect 301 /crumbs/350 http://www.drtoast.com/2010/05/09/toast-and-dr-pepper-for-mothers-day
Redirect 301 /crumbs/361 http://www.drtoast.com/2010/06/08/dr-toast-live-california-academy-of-sciences-2
Redirect 301 /crumbs/363 http://www.drtoast.com/2010/06/17/dr-toast-live-the-big-bounce
Redirect 301 /crumbs/366 http://www.drtoast.com/2010/06/17/dr-toast-live-priceless-2010
Redirect 301 /crumbs/371 http://www.drtoast.com/2010/08/26/dr-toast-live-burning-man-2010
Redirect 301 /crumbs/378 http://www.drtoast.com/2010/11/19/toast-animation-2
Redirect 301 /crumbs/379 http://www.drtoast.com/2011/01/04/dr-toast-live-transported-3
Redirect 301 /crumbs/388 http://www.drtoast.com/1996/04/02/one-slice-only
Redirect 301 /crumbs/389 http://www.drtoast.com/2005/08/09/anxious-prayers
Redirect 301 /crumbs/390 http://www.drtoast.com/2011/01/14/chinese-wikipedia-cites-dr-toast
Redirect 301 /crumbs/425 http://www.drtoast.com/2011/05/17/dr-toast-live-spring-training-2011
Redirect 301 /crumbs/429 http://www.drtoast.com/2011/05/20/dr-toast-live-transported-4
Redirect 301 /crumbs/435 http://www.drtoast.com/2011/07/06/dr-toast-false-sunrise-2011
Redirect 301 /crumbs/441 http://www.drtoast.com/2011/07/06/dr-toast-gravity-is-quiet-2011
Redirect 301 /crumbs/462 http://www.drtoast.com/2011/07/07/gravity-is-quiet-is-1-on-bandcamp-com
Redirect 301 /crumbs/470 http://www.drtoast.com/2011/07/12/dr-toast-live-equity
Redirect 301 /crumbs/475 http://www.drtoast.com/2011/07/12/dr-toast-live-the-toast-expo
Redirect 301 /crumbs/483 http://www.drtoast.com/2011/08/15/dr-toast-live-plunge
Redirect 301 /crumbs/487 http://www.drtoast.com/2011/08/10/dr-toast-live-california-academy-of-sciences-3
Redirect 301 /crumbs/502 http://www.drtoast.com/2011/08/24/dr-toast-live-burning-man-2011
Redirect 301 /crumbs/522 http://www.drtoast.com/2011/10/04/dr-toast-live-sf-moma

Options +MultiViews

# Remove trailing slash
RewriteRule ^(.+)/$ http://%{HTTP_HOST}/$1 [R=301,L]

# External redirect any /post-slug.html to /post-slug
RewriteCond %{THE_REQUEST} [A-Z]+\s([^\s]+)\.html\s
RewriteRule .* %1 [R=301,L]
