---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="section">
        <nav class="grey darken-3">
          <div class="nav-wrapper">
            <div class="col s12">
              <a href="/blog" class="breadcrumb">Blog</a>
              <a href="/departments/{{ page.categories[0] }}" class="breadcrumb breadcrumb--category">{{ page.categories[0] | replace:'-',' ' }}</a>
            </div>
          </div>
        </nav>
      </div>

      <div class="section">
        <h5>{{ page.title }}</h5>
        <small>posted {{ page.date | date: "%B %-d, %Y" }}</small>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</div>
